<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login | ChatHood </title>
    <link rel="shortcut icon" href="{{url_for('static', filename='/images/favicon.png')}}" type="image/x-icon">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      {% if message %}
      <h6 style="text-align: center;">{{message}}</h6>
      {% endif %}
      <form action="/login" method="post">
        <div class="txt_field">
          <input type="text" name="username" id="password" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" id="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="/signup">Signup</a>
        </div>
      </form>
    </div>

  </body>
</html>